apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "pulltrace.fullname" . }}-server
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "pulltrace.server.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      {{- include "pulltrace.server.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "pulltrace.server.labels" . | nindent 8 }}
    spec:
      serviceAccountName: {{ include "pulltrace.server.serviceAccountName" . }}
      hostNetwork: false
      hostPID: false
      hostIPC: false
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
        runAsGroup: 65534
        fsGroup: 65534
        seccompProfile:
          type: RuntimeDefault
      containers:
        - name: pulltrace-server
          image: "{{ .Values.server.image.repository }}:{{ .Values.server.image.tag }}"
          imagePullPolicy: {{ .Values.server.image.pullPolicy }}
          securityContext:
            readOnlyRootFilesystem: true
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
          ports:
            - name: http
              containerPort: 8080
              protocol: TCP
            - name: metrics
              containerPort: 9090
              protocol: TCP
          env:
            - name: PULLTRACE_LOG_LEVEL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "pulltrace.fullname" . }}-config
                  key: logLevel
            - name: PULLTRACE_WATCH_NAMESPACES
              valueFrom:
                configMapKeyRef:
                  name: {{ include "pulltrace.fullname" . }}-config
                  key: watchNamespaces
            {{- if or .Values.agent.auth.token .Values.agent.auth.existingSecret }}
            - name: PULLTRACE_AGENT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ default (printf "%s-agent-token" (include "pulltrace.fullname" .)) .Values.agent.auth.existingSecret }}
                  key: {{ default "token" .Values.agent.auth.existingSecretKey }}
            {{- end }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: http
            initialDelaySeconds: 10
            periodSeconds: 15
          readinessProbe:
            httpGet:
              path: /readyz
              port: http
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.server.resources | nindent 12 }}
